header {
    background-color:#465c71;
    color:white;
    text-align:center;
    padding:3px;
    height: 150px;
}
nav {
    line-height:30px;
    background-color:#465c71;
    height:500px;
    width:300px;
    float:left;
    padding:5px;
}
body{
	position: relative;
}
section {
	float:left;
    padding: 20px;
}
table {
    border-collapse: collapse;
    border-color: black;
}

table th, td {
    text-align: center;
    vertical-align: center;
    padding: 5px;
    border: 1px solid black;
}
table th {
    background-color: #465c71;
    color: white;
}
.image{
	position: absolute;
	bottom: 25px;
	right: 0;
	float: right;
	align: bottom;
}
#main_train {
    width: 400px;
    height: auto;
}
footer {
    background-color:#465c71;
    color:white;
    clear:both;
    text-align:center;
    padding:3px;
}
div.menu
{
    padding: 4px 0px 4px 8px;
    display: inline;
    float:right;
    align: bottom;
}
div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;

}
ul.menuclass li{
    display:inline;
}
div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: inline;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}
div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}
div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

.form_element{
    margin: 5px 5px;
}
.form_element label{
    float: left;
    width: 100px;
    color: #cfdbe6;
}
.form_element input[type="submit"] {
    background: #bfcbd6;
    color: #465c71;
    border: 1px solid #ccc;
    padding: 5px 10px;
    width: 175px;
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}
#logotype{
    width: 150px;
    height: 120px;
    float: left;
    margin: 0;
}
.wrap {
    width:600px;
    margin:0 auto;
}
.left_col {
    float:left;
    width:300px;
}
.right_col {
    float:right;
    width:300px;
}
