<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>UberBahn</display-name>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <servlet>
        <servlet-name>StationController</servlet-name>
        <servlet-class>com.tsystems.javaschool.uberbahn.webmain.controllers.StationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StationController</servlet-name>
        <url-pattern>/stations</url-pattern>
    </servlet-mapping>
<!--
    <servlet>
        <servlet-name>ModelListController</servlet-name>
        <servlet-class>com.tsystems.javaschool.uberbahn.webmain.temp.controllers.ModelListControllerImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModelListController</servlet-name>
        <url-pattern>/models/list</url-pattern>
    </servlet-mapping>
-->
    <servlet>
        <servlet-name>StationScheduleController</servlet-name>
        <servlet-class>com.tsystems.javaschool.uberbahn.webmain.controllers.StationTimetableControllerImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StationScheduleController</servlet-name>
        <url-pattern>/stationTimetable</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TrainScheduleController</servlet-name>
        <servlet-class>com.tsystems.javaschool.uberbahn.webmain.controllers.TrainTimetableControllerImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TrainScheduleController</servlet-name>
        <url-pattern>/trainTimetable</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StationTimetableSearchController</servlet-name>
        <servlet-class>com.tsystems.javaschool.uberbahn.webmain.controllers.StationTimetableSearchControllerImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StationTimetableSearchController</servlet-name>
        <url-pattern>/stationTimetableSearch</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TrainTimetableSearchController</servlet-name>
        <servlet-class>com.tsystems.javaschool.uberbahn.webmain.controllers.TrainTimetableSearchControllerImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TrainTimetableSearchController</servlet-name>
        <url-pattern>/trainTimetableSearch</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TrainChooseController</servlet-name>
        <servlet-class>com.tsystems.javaschool.uberbahn.webmain.controllers.TrainChooseControllerImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TrainChooseController</servlet-name>
        <url-pattern>/trainChoose</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TicketPurchaseFormController</servlet-name>
        <servlet-class>com.tsystems.javaschool.uberbahn.webmain.controllers.TicketPurchaseFormControllerImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TicketPurchaseFormController</servlet-name>
        <url-pattern>/ticketPurchaseForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TicketPurchaseController</servlet-name>
        <servlet-class>com.tsystems.javaschool.uberbahn.webmain.controllers.TicketPurchaseControllerImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TicketPurchaseController</servlet-name>
        <url-pattern>/ticketPurchase</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PurchasedTicketController</servlet-name>
        <servlet-class>com.tsystems.javaschool.uberbahn.webmain.controllers.PurchasedTicketControllerImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PurchasedTicketController</servlet-name>
        <url-pattern>/purchasedTicket</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddStationFormController</servlet-name>
        <servlet-class>com.tsystems.javaschool.uberbahn.webmain.controllers.AddStationFormControllerImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddStationFormController</servlet-name>
        <url-pattern>/addStationForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddedStationController</servlet-name>
        <servlet-class>com.tsystems.javaschool.uberbahn.webmain.controllers.AddedStationControllerImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddedStationController</servlet-name>
        <url-pattern>/addedStation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddStationController</servlet-name>
        <servlet-class>com.tsystems.javaschool.uberbahn.webmain.controllers.AddStationControllerImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddStationController</servlet-name>
        <url-pattern>/addStation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddRouteFormController</servlet-name>
        <servlet-class>com.tsystems.javaschool.uberbahn.webmain.controllers.AddRouteFormControllerImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddRouteFormController</servlet-name>
        <url-pattern>/addRouteForm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddStationsToRouteFormController</servlet-name>
        <servlet-class>com.tsystems.javaschool.uberbahn.webmain.controllers.AddStationsToRouteFormControllerImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddStationsToRouteFormController</servlet-name>
        <url-pattern>/addStationsToRouteForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStationsToRouteFormController</servlet-name>
        <url-pattern>/addRouteError</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddTrainFormController</servlet-name>
        <servlet-class>com.tsystems.javaschool.uberbahn.webmain.controllers.AddTrainFormControllerImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddTrainFormController</servlet-name>
        <url-pattern>/addTrainForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddTrainController</servlet-name>
        <servlet-class>com.tsystems.javaschool.uberbahn.webmain.controllers.AddTrainControllerImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddTrainController</servlet-name>
        <url-pattern>/addTrain</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddedTrainController</servlet-name>
        <servlet-class>com.tsystems.javaschool.uberbahn.webmain.controllers.AddedTrainControllerImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddedTrainController</servlet-name>
        <url-pattern>/addedTrain</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FindTrainFormController</servlet-name>
        <servlet-class>com.tsystems.javaschool.uberbahn.webmain.controllers.FindTrainFormControllerImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindTrainFormController</servlet-name>
        <url-pattern>/findTrainForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TableOfTrainsController</servlet-name>
        <servlet-class>com.tsystems.javaschool.uberbahn.webmain.controllers.TableOfTrainsControllerImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TableOfTrainsController</servlet-name>
        <url-pattern>/tableOfTrains</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FindPassengersController</servlet-name>
        <servlet-class>com.tsystems.javaschool.uberbahn.webmain.controllers.FindPassengersControllerImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindPassengersController</servlet-name>
        <url-pattern>/findPassengers</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddRouteController</servlet-name>
        <servlet-class>com.tsystems.javaschool.uberbahn.webmain.controllers.AddRouteControllerImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddRouteController</servlet-name>
        <url-pattern>/addRoute</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RouteInfoController</servlet-name>
        <servlet-class>com.tsystems.javaschool.uberbahn.webmain.controllers.RouteInfoControllerImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RouteInfoController</servlet-name>
        <url-pattern>/routeInfo</url-pattern>
    </servlet-mapping>

</web-app>
